<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Standard bootstrap CSS imports-->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>

    <!-- Custom bootstrap CSS imports-->  
    <link rel='stylesheet' href='/static/style.css'>
    <link rel='stylesheet' href='/static/vendor/bootstrap-tagsinput.css'>
    <link rel='stylesheet' href='/static/vendor/app.css'>

    <title>Hello, world!</title>
  </head>

  <body>

    <h1 class="text-center">Insert your Bill</h1><br>

    <form class="content-center" method="post" id="bill">
    <!-- Date of bill -->
    <div class="form-group row">
    <label class="col-sm-1 col-form-label" for="date">Date:</label>
    <div class="col-sm-3">
        <input type="date" class="form-control" id="date" name="date" />
    </div>
    </div>

    <!-- Company where bill is from -->
    <div class="form-group row">
    <label class="col-sm-1 col-form-label" for="company">Company:</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="Hofer, Billa, usw." list="list-companies" id="company"" />
        <datalist id="list-companies">
            {% for e in companies %}
                <option>{{e}}</option>
            {% endfor %}
        </datalist>
    </div>
    </div>

    <!-- Price of Bill -->
    <div class="form-group row">
    <label class="col-sm-1 col-form-label" for="price">Price:</label>
    <div class="col-sm-3">
            <input type="number" class="form-control" id="price" min="0.00" max="any" step="0.01" />
    </div>
    </div>

    <!-- Tags of Bill -->
    <div class="form-group row">
    <label class="col-sm-1 col-form-label" for="tags">Tags:</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" name="tags" id="tags"/>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Send Bill</button>
    
    <!-- Image of Bill -->
    <div>
      <video id="vid" autoplay></video>
    </div>
    <br />
    <button id="save_frame">Save Frame</button>
  
  </form>



<!-- Standard Bootstrap imports -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js'></script>

<!-- Bootstrap tagsinput import -->
<script src='/static/vendor/bootstrap-tagsinput.min.js'></script>

<script>
  document.addEventListener("DOMContentLoaded", () => {
      let video = document.getElementById("vid");
      let mediaDevices = navigator.mediaDevices;
      vid.muted = true;


      // Accessing the user camera and video.
      mediaDevices.getUserMedia({video: true, audio: false})
          .then((stream) => {
              // Changing the source of video to current stream.
              video.srcObject = stream;
              video.addEventListener("loadedmetadata", () => {
                  video.play();
              });
          })
          .catch(alert);
  });
</script>

<script>
    document.addEventListener('DOMContentLoaded', e => {
        $('#company').autocomplete()
    }, false);
</script>

<script>
  
 
  //get data pass to json
  var task = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace("text"),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: '/static/assets/citynames.json'
  });

  task.initialize();

  var elt = $("#tags");
  elt.tagsinput({
    itemValue: "value",
    itemText: "text",
    typeaheadjs: {
      name: "task",
      displayKey: "text",
      source: task.ttAdapter()
    }
  });

  
</script>

<!--
  <script src="/static/script.js"></script>
-->

</body>
</html>
